.app.dark {
    --bg-color: #030312db;
    --inverted-bg-color: #d6d6d6;

    --primary-color: #cfcfcf;
    --secondary-color: #5252ff;
    --inverted-primary-color: #101010;
    --inverted-secondary-color: #5c5c5c;
}